extends layout
block content
    .ui.teal.menu
        a.item(href='/')
            i.photo.icon
            span Galeria
        a.active.item(href='/admin/')
            i.settings.icon
            span Administração
    if editando
        h2.ui.header Editar foto
    else
        h2.ui.header Nova foto
    if erroArquivo
        .ui.red.inverted.segment
            p Aconteceu um erro inesperado no servidor.
    form#form-foto.ui.form.segment.stacked(action='save', method='POST', enctype='multipart/form-data')
        .field
            label Escolha uma foto do seu computador
            .ui.icon.input.fileUpload
                input#nome-arquivo(type='text', disabled='', value=nomeArquivo)
                i.teal.inverted.upload.disk.icon
                input#arquivo-foto.upload-input(type='file', name='arquivo', accept='image/*')

        .field
            label Descrição
            .ui.input
                input(type='text', name='descricao')
        .ui.buttons
            a.small.ui.button(href='/admin/') Cancelar
            button.small.ui.teal.submit.button(type='submit') Salvar

    script(type='text/javascript' src='/javascripts/admin/criar-editar.js')