doctype html
html
    head
        title Galeria
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/semantic.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(type='text/javascript' src='/javascripts/vendor/jquery.js')
        script(type='text/javascript' src='/javascripts/vendor/semantic.js')